.signin-body{
    background-color:#eceeef;
}
.container.signin-container{
    margin-top: 8%;
}
.card.signin-card{

    padding:33px 0px 20px;
    background-color:#f4f4f4;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
img.img-fluid.signin-img{
    width: 80%;
    padding: 0 2rem 2.5rem;
    margin:auto;
    display: block;

}
form.signin-form{
    margin:auto;
    max-width: 350px;
}
button.signin-btn{
    color: #fff;
    background-color: cadetblue;
    width:100%;
    margin-bottom: 1.2rem;
}
a.create-new-account {
    font-size: 1.2rem;
    text-align: center;
    display: block;
    margin-top: 12px;
    padding-bottom: 20px;
}
